.cartContainer {
    min-height: calc(100vh - 276.28px);
}

.table {
    width: 100%;
}

.tableRow {
    font-size: .6rem;
    font-weight: bold;
}

.categoryProduct {
    display: none;
}

.unitPriceProduct {
    display: none;
}

.cartImgProducts {
    display: none;
}

.cartSectionLink {
    font-size: .8rem;
    text-decoration: none;
    color: #b7b7b7;
}

.cartProduct {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cartSectionButton:hover .cartSectionLink {
    color: #78546a;
}

@media screen and (min-width: 390px) and (max-width: 599px) {
    .cartContainer {
        min-height: calc(100vh - 258.28px);
    }
}


@media screen and (min-width: 600px) and (max-width:899px) {
    .cartContainer {
        min-height: calc(100vh - 224.67px);
    }
    .tableRow {
        font-size: .8rem;
    }
    .cartImgProducts {
        display: block;
        width: 30px;
    }
    .cartSectionLink {
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .cartContainer {
        min-height: calc(100vh - 220.53px);
    }
    .tableRow {
        font-weight: bold;
        font-size: 1rem;
    } 
    .cartImgProducts {
        display: block;
        border-radius: 125px;
        padding: 12px;
        width: 40px;
    } 
    .cartSectionLink {
        text-decoration: none;
        color: #b7b7b7;
        font-size: 1.2rem;
    } 
}

