.formContainer {
    min-height: calc(100vh - 276.28px);
}

.orderForm {
    margin: 0 auto;
    width: 80%;
    max-width: 250px;
    background-color: #282828;
    padding: 16px;
    border-radius: 6px;
}

.orderForm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.btnForm:hover .checkoutLink {
    color: rgb(93, 128, 93);
}

.checkoutLink {
    color: #b7b7b7;
    font-size: 1.2rem;
    text-decoration: none;
}

@media screen and (min-width: 390px) and (max-width: 599px) {
    .formContainer {
        min-height: calc(100vh - 258.28px);
    }
    .orderForm {
        max-width: 250px;
    }
    .checkoutLink {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .formContainer {
        min-height: calc(100vh - 224.67px);
    }
    .orderForm {
        max-width: 300px;
    }
    
}

@media screen and (min-width: 900px) {
    .formContainer {
        min-height: calc(100vh -  220.53px);
    }
     .orderForm {
        max-width: 310px;
    }
    .checkoutLink {
        font-size: 1.4rem;
    }
}