@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.itemDetail {
    border: 4px solid #FFF;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: rgb(0 0 0) 0px 3px 8px;
    
}

.itemDetailCard {
    height: 100%;
    background-color: #1A1C1C;
}

.itemDetailContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A1C1C;
}

.itemDetailCategory {
    color: #b7b7b7;
    font-size: 1.2rem;
    margin: 4px;
    text-transform: uppercase;
}

.itemDetailTitle {
    color: #FFF2E6;
    font-size: 1rem;
    margin: 4px;
}

.itemDetailPrice {
    color: #b7b7b7;
    font-weight: bold;
    margin: 4px;
}

.itemDetailDescription {
    color: #FFF2E6;
    font-family: 'Roboto';
}

.infoContainer {
    width: 40%;
}

.itemDetailCardAction {
    justify-content: center;
    background-color: #1A1C1C;
}

@media screen and (max-width:899px) {
    .itemDetailContent {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1A1C1C;
    }

    .itemDetaiImg {
        width: 50%;
    }

    .infoContainer {
        width: 80%;
    }
} 