.itemDetail {
    border: 4px solid #FFF;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    box-shadow: rgb(0 0 0) 0px 3px 8px;
    
}

.itemDetailCard {
    height: 100%;
    background-color: #1A1C1C;
}

.itemDetailBg {
    background-color: #1A1C1C;
}

.itemDetailCategory {
    color: #b7b7b7;
    font-size: 1.2rem;
    margin: 4px;
    text-transform: uppercase;
}

.itemDetailTitle {
    color: #78546a;
    font-size: 1rem;
    margin: 4px;
}

.itemDetaiImg {
    padding: 12px;
    width: 120px;
    
}

.itemDetailPrice {
    color: #b7b7b7;
    font-weight: bold;
    margin: 4px;
}

.itemDetailCardAction {
    justify-content: center;
    
    background-color: #1A1C1C;
}