.listContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div2 {
    display: flex;
}

@media screen and (min-width:1275px) {
    .listContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
} 