.item {
    border: 4px solid #FFF;
    width: 250px;
    height: 356px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    box-shadow: rgb(0 0 0) 0px 3px 8px;
    
}

.cardItem, .bgItem {
    height: 100%;
    background-color: #1A1C1C;
}

.itemLink{
    text-decoration: none;
    color: #b7b7b79a;
}

.bgItem div {
    height: 180px;
    display: flex;
    justify-content: center;
}

.category {
    color: #b7b7b7;
    font-size: 1.2rem;
    margin: 4px;
    text-transform: uppercase;
}

.title {
    color: #FFF2E6;
    font-size: 1rem;
    margin: 4px;
}

.img {
    padding: 12px;    
}

.price {
    color: #b7b7b7;
    font-weight: bold;
    margin: 4px;
}

.cardActionBg {
    justify-content: center;
}