.item {
    border: 4px solid rgb(135, 207, 125);
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0) 0px 3px 8px;
    
}

.itemLink{
    text-decoration: none;
}

.bgItem {
    background-color: rgb(0, 0, 0);
}

.id {
    color: #66467f;
    margin: 0;
}

.title {
    color: #b7b7b7;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 4px;
}

.category {
    color: #66467f;
    font-size: 1rem;
    margin: 4px;
}

.img {
    border-radius: 125px;
    padding: 12px;
    width: 120px;
}

.price {
    color: #b7b7b7;
    font-weight: bold;
    margin: 4px;
}

.cardActionBg {
    background-color: rgb(0, 0, 0);
    justify-content: center;
}