@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Paprika&family=Roboto:wght@100;400;700&display=swap');

.brand, .categoryName  {
    font-weight: bold;
    color: #78546a;
    text-decoration: none;
}

.categoryName {
    font-family: 'Roboto';
    font-size: 1.3rem;
}

.brand {
    font-family: 'Paprika', cursive;
    font-size: 2rem;
}

.buttonLogo2Container {
    display: none;
}

.logo {
    width: 60px;
    padding-top: 8px;
}

.categoryMenu {
    text-decoration: none;
    color: #78546a;
}

@media screen and (max-width:899px) {
    .buttonLogoContainer {
        display: none;
    }
    .buttonLogo2Container {
        display: contents;
    }
    .brand {
        font-size: 1.6rem;
    }
    .logo2 {
        width: 46px;
        padding-top: 8px;
    }
} 