.loadingContainer {
    background-color: #1a1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 24px;
    min-height: calc(100vh - 351.61px);
}

.loadingLogo {
    width: 150px;
}

.awaitLoadingText {
    color: #b7b7b7;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 456px) and (max-width: 599px) {
    .loadingContainer {
        min-height: calc(100vh - 333.61px);
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .loadingContainer {
        min-height: calc(100vh - 242px);
    }
    .loadingLogo {
        width: 250px;
    }
    .awaitLoadingText {
        font-size: 1.4rem;
    }
    
}

@media screen and (min-width: 900px) and (max-width: 998px) {
    .loadingContainer {
        min-height: calc(100vh - 266.39px);
    }
    .loadingLogo {
        width: 250px;
    }
    .awaitLoadingText {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 999px) {
    .loadingContainer {
        min-height: calc(100vh - 280.39px);
    }
    .loadingLogo {
        width: 250px;
    }
    .awaitLoadingText {
        font-size: 1.4rem;
    }
}