p{
    color: black;
}

.grid {
    margin-top: 0 !important;
}

.footerContainer {
    background-color: rgb(194, 126, 126);
}

@media screen and (min-width:600px) {
    .redes {
    display: flex;
    justify-content: space-evenly
    }
}