.redirectingContainer {
    min-height: calc(100vh - 276.28px);
}

@media screen and (min-width: 390px) and (max-width: 599px) {
    .redirectingContainer {
        min-height: calc(100vh - 258.28px);
    }
}

@media screen and (min-width: 600px) and (max-width:899px) {
    .redirectingContainer {
        min-height: calc(100vh - 224.67px);
    }
}

@media screen and (min-width: 900px) {
    .redirectingContainer {
        min-height: calc(100vh - 220.53px);
    }
}



