.numberOfProducts {
    margin: 12px;
    color: #b7b7b7;
}

.btnGroup {
    display: flex;
    flex-direction: column;
}

.addCartbtn {
    display: flex;
}

.buyBtnLink {
    text-decoration: none;
    font-weight: bold;
    color: #b7b7b7;
}

.buyBtn:hover .buyBtnLink {
    color: #78546a;
}

.btnRemove:hover .removeIcon {
    color: #78546a;
}

.btnAdd:hover .addIcon {
    color: #78546a;
}

.btnAddCart:hover .addCartIcon {
    color: #78546a;
}