.numberOfProducts {
    margin: 12px;
    color: #b7b7b7;
}

.btnGroup {
    display: flex;
    flex-direction: column;
}

.addCartbtn {
    display: flex;
}

.buyBtn {
    text-decoration: none;
    color: #66467f;
}